* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f7f6; 
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

header {
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    color: #333333; 
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav {
    color: #333333; 
    text-align: center;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #00796b; 
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #004d40;
}

h1, h2 {
    text-align: center;
    color: #333333;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    margin: 0;
}

section {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 1.2em;
    width: 100%;
    max-width: 800px;
    text-align: center;
}

section p {
    color: #666666;
    line-height: 1.6;
}

section button {
    background-color: #00796b;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.3s ease;
}

section button:hover {
    background-color: #004d40;
    transform: scale(1.05);
}

section input {
    font-size: 16px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer p {
    color: #333333;
}
