* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    /* background: #f4f7f6;  */
    background: #e0f7fa; 
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    top: 0;
    width: 100%;
    background-color: #ffffff; 
    color: #333333; 
    padding: 20px 0;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

nav {
    color: #333333; 
    text-align: center;
    padding: 0.5em 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #00796b; 
    text-decoration: none;
    font-weight: 500;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #004d40;
}

h1, h2 {
    text-align: center;
    color: #333333;
}

.container {
    width: 80%;
    max-width: 500px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    text-align: center;
}

.form {
    width: 100%;
}

.title {
    color: #333333;
    margin-bottom: 20px;
}

.form_message {
    margin-bottom: 10px;
    color: #e74c3c; /* Error color */
}

.form_input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    background: #fafafa;
}

.input:focus {
    border-color: #00796b;
}

.button, .button-signup, .button-test {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.button:hover, .button-signup:hover, .button-test:hover {
    background-color: #004d40;
}

.text {
    margin-top: 10px;
}

.link {
    color: #00796b;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #004d40;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    margin-top: auto;
}

footer p {
    color: #333333;
}
